################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPPCodeProject/.vs/CPPCodeProject/v15
*.licenseheader
*.user
*.filters
*.obj
*.exe
*.tlog
*.ilk
*.log
*.pdb
*.idb
